In [6]:
import os
import pandas as pd
from math import sqrt

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from matplotlib import pyplot
import matplotlib.dates as mdates

from datetime import datetime, timedelta

from warnings import catch_warnings
from warnings import filterwarnings

from sklearn.metrics import mean_squared_error
from statsmodels.tsa.api import VAR

In [3]:
#import dataset
df = pd.read_csv('df_bike_example.csv', index_col='Date')
df.index = pd.to_datetime(df.index, format = '%Y-%m-%d')
df

            Rented_Bikes  Temperature  Humidity_percent
Date
2017-12-01          9539    -2.454167         45.875000
2017-12-02          8523     1.325000         61.958333
2017-12-03          7222     4.875000         81.541667
2017-12-04          8729    -0.304167         52.500000
2017-12-05          8307    -4.458333         36.416667
...                  ...          ...               ...
2018-11-26         17162     6.320833         70.500000
2018-11-27         16282     7.066667         68.000000
2018-11-28         16524     5.304167         25.791667
2018-11-29         16423     3.304167         38.000000
2018-11-30         16297     2.762500         47.208333

[365 rows x 3 columns]

In [4]:
#train and test slice
pred_from = datetime(2018,10,1)
pred_until = datetime(2018,11,30)

df_train = df[:pred_from - timedelta(days=1)]
df_test = df[pred_from:]

In [16]:
#train and test slice
pred_from = 300
pred_until = 365

df_train = df[:pred_from - 1]
df_test = df[pred_from:]

In [106]:
for i in range(1,10):
    model = VAR(df_train)
    results = model.fit(i)
    print('Order =', i)
    print('AIC: ', results.aic)
    print('BIC: ', results.bic)
    print()

/Users/amitsasson/venv/lib/python3.6/site-packages/statsmodels/tsa/arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)
/Users/amitsasson/venv/lib/python3.6/site-packages/statsmodels/tsa/base/tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  % freq, ValueWarning)

In [20]:
model = VAR(df_train)
result = model.fit(4)

lagged_values = df_train.values[-8:]
pred = result.forecast(y=lagged_values, steps=pred_until-pred_from) 
pred = pred.tolist()

/Users/amitsasson/venv/lib/python3.6/site-packages/statsmodels/tsa/base/tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  % freq, ValueWarning)

[[21980.986546525735, 18.258501054605084, 54.634865812961905],
 [21126.53049973299, 18.510517018347528, 57.50376485887076],
 [19833.574947279936, 18.160325222726453, 58.13658377415334],
 [20499.63366857316, 18.025325844154988, 58.79713582085382],
 [20548.593969798094, 18.134103111274076, 59.36936063098057],
 [20450.37610407431, 18.219803859733045, 59.780654305455315],
 [20112.656386134597, 18.190009544063713, 60.06128227530371],
 [20100.066656312425, 18.156849250967127, 60.26638768648688],
 [20106.05572405008, 18.162339997185757, 60.359485416748704],
 [20096.711227518666, 18.17818417222469, 60.40760720877096],
 [20020.752390369707, 18.17710263722783, 60.45206950118746],
 [19983.324808567548, 18.168221082361935, 60.49174907187422],
 [19966.16614146585, 18.162625065870905, 60.507719158772815],
 [19956.507354039473, 18.160257686044247, 60.5089252734694],
 [19935.39016742662, 18.156062999273235, 60.50823105845806],
 [19916.91900019581, 18.14956031001016, 60.508965734174666],
 [19903.421793085578, 18.142610864681767, 60.5071019079841],
 [19893.91581903159, 18.136102420430003, 60.502247251622606],
 [19883.760585368174, 18.12947075692652, 60.49658941755149],
 [19873.825472648758, 18.12236859639306, 60.4915399215656],
 [19864.916125718533, 18.114995593529333, 60.486680873576624],
 [19857.304268738168, 18.107625766366684, 60.48160391945105],
 [19850.144855425253, 18.100275942803183, 60.47647223076125],
 [19843.243285793316, 18.09288477461297, 60.47159034881878],
 [19836.66220928727, 18.08546119671245, 60.466970566078615],
 [19830.502268050728, 18.078063631003445, 60.46250635281701],
 [19824.63901594903, 18.070722050122537, 60.45815937320675],
 [19818.97992840323, 18.063437328543117, 60.453960046007424],
 [19813.493852118856, 18.056210436193734, 60.449916032359525],
 [19808.18957749506, 18.049052599563748, 60.44600340031656],
 [19803.04691141199, 18.041974253897365, 60.442198745658125],
 [19798.03900757805, 18.034979685334044, 60.43849438567512],
 [19793.147237286088, 18.02807029359437, 60.43488639582464],
 [19788.36523733599, 18.0212482520361, 60.43136689917876],
 [19783.686207845374, 18.014515998784518, 60.42792658524806],
 [19779.101797276828, 18.007874910121853, 60.42455891484369],
 [19774.60435729474, 18.00132530764138, 60.42125959255574],
 [19770.189032020775, 17.99486720271117, 60.41802470531961],
 [19765.852111585707, 17.98850054311605, 60.41485028650126],
 [19761.59008581952, 17.982225059632558, 60.411732940649145],
 [19757.399624418995, 17.97604018844263, 60.40867001736829],
 [19753.278022349492, 17.96994518212862, 60.40565931005755],
 [19749.22307565309, 17.96393920997092, 60.40269881525974],
 [19745.23284353276, 17.958021373018543, 60.39978674144985],
 [19741.30553024866, 17.95219069352509, 60.39692154665208],
 [19737.439525456502, 17.946446130885235, 60.394101895350886],
 [19733.633399984727, 17.94078660830245, 60.39132658887728],
 [19729.885859085134, 17.93521102764232, 60.38859453426538],
 [19726.195697376643, 17.92971827353084, 60.38590473743692],
 [19722.561787320483, 17.92430721783737, 60.38325629187337],
 [19718.983073876083, 17.91897672662866, 60.38064835963906],
 [19715.458563590513, 17.913725666029123, 60.37808015651722],
 [19711.98731092192, 17.908552905448254, 60.37555094397268],
 [19708.568409995692, 17.903457319690023, 60.373060023430924],
 [19705.200990016925, 17.89843779107801, 60.37060673004297],
 [19701.884211252443, 17.893493211412288, 60.36819042697959],
 [19698.617260610106, 17.88862248334622, 60.365810501306974],
 [19695.399348074552, 17.88382452128693, 60.3634663610472],
 [19692.229704231664, 17.879098252093073, 60.3611574326623],
 [19689.10757839506, 17.874442615660463, 60.35888315881496],
 [19686.032236901585, 17.869856565351657, 60.3566429965537],
 [19683.00296163632, 17.86533906826663, 60.35443641591885],
 [19680.019048865248, 17.860889105406372, 60.35226289881659],
 [19677.07980832135, 17.85650567177077, 60.35012193806235],
 [19674.18456243244, 17.852187776400342, 60.34801303657793]]

/Users/amitsasson/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Rented_Bikes,Temperature,Humidity_percent,pred
Date,,,,
2018-09-27,30789,18.791667,47.125000,"[21980.986546525735, 18.258501054605084, 54.63..."
2018-09-28,0,17.525000,57.291667,"[21126.53049973299, 18.510517018347528, 57.503..."
2018-09-29,31447,20.075000,55.416667,"[19833.574947279936, 18.160325222726453, 58.13..."
2018-09-30,0,17.916667,53.791667,"[20499.63366857316, 18.025325844154988, 58.797..."
2018-10-01,27909,15.437500,54.250000,"[20548.593969798094, 18.134103111274076, 59.36..."
...,...,...,...,...
2018-11-26,17162,6.320833,70.500000,"[19686.032236901585, 17.869856565351657, 60.35..."
2018-11-27,16282,7.066667,68.000000,"[19683.00296163632, 17.86533906826663, 60.3544..."
2018-11-28,16524,5.304167,25.791667,"[19680.019048865248, 17.860889105406372, 60.35..."
2018-11-29,16423,3.304167,38.000000,"[19677.07980832135, 17.85650567177077, 60.3501..."
2018-11-30,16297,2.762500,47.208333,"[19674.18456243244, 17.852187776400342, 60.348..."